<li class="item">
    <div class="product-container">
        <figure class="figure">
            <img class="image" src="{{BASE_URL}}/public/images/product-placeholder.jpg" alt="">
        </figure>

        <strong class="name">{{name}}</strong>

        <div class="prices">
            <span class="price">R$ {{price}}</span>
            <span class="special">R$ {{special_price}}</span>
        </div>

        <div class="actions">
            <a href="{{BASE_URL}}" class="goto">Adicionar ao carrinho</a>
        </div>
    </div>
</li>