<div class="products-list">
    <ul class="list" style="display:flex;justify-content:space-between;">
        <li class="item">
            <div class="product-container">
                <figure class="image">
                    <img src="{{image}}" alt="">
                </figure>

                <strong class="name">{{name}}</strong>

                <div class="prices">
                    <span class="price">{{price}}</span>
                    <span class="special">{{special_price}}</span>
                </div>
            </div>
        </li>
    </ul>
</div>