<header class="page-header -admin">
    <div class="content">
        <a class="logo" href="{{BASE_URL}}/admin/dashboard">Zleeb Commerce</a>

        <div class="links-list -admin">
            <ul class="list">
                <li class="item">
                    <a href="{{BASE_URL}}/admin/product/add">Novo produto</a>
                </li>

                <li class="item">
                    <a href="{{BASE_URL}}/admin/category/add">Nova categoria</a>
                </li>
            </ul>
        </div>
    </div>
</header>