.page-admin {
    display: flex;
    
    .page-title {
        margin-bottom: 60px;
    }

    .page-main {
        max-width: unset;
        flex-grow: 1;
        padding: 20px 80px;
        max-height: 100vh;
        overflow-y: auto;
    }
}

.table-products,
.table-categories {
    margin-bottom: 40px;

    > .title {
        margin-bottom: 20px;
    }

    > .wrapper {
        > .table {
            border-collapse: collapse;
            border: 1px solid;
            width: 100%;
    
            th,
            td {
                padding: 10px 20px;
                text-align: center;
                border: 1px solid;
            }

            .actions {
                .link {
                    color: #0060b1;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}