.page-main {
    @extend .theme-grid;

    .page-title {
        margin-bottom: 60px;
    }
}

.page-home,
.common-layout {
    .page-main {
        padding-bottom: 60px;
    }
}

.common-layout {
    &.-product {
        .page-main {
            display: flex;
            flex-wrap: wrap;
        }
    }
}