.-widget {
    &.product-list {
        > .title {
            text-align: center;
            margin-bottom: 40px;
            font-weight: 700;
            font-size: 32px;
        }

        > .list {
            display: flex;
            margin: 0 -33px;
            flex-wrap: wrap;

            > .item {
                padding: 0 33px;
                width: 25%;

                &:nth-child(n+5) {
                    margin-top: 60px;
                }
            }
        }
    }

    &.categories-list {
        background-color: $background-color-main-menu;
        > .list {
            display: flex;
            @extend .theme-grid;

            > .item {
                > .link {
                    color: $color-text-white;
                    display: block;
                    font-weight: 700;
                    text-decoration: none;
                    padding: 10px 20px;

                    &:hover {
                        background-color: $background-color-menu-hover;
                    }
                }
            }
        }
    }
}