.-widget {
    &.product-list {
        > .list {
            display: flex;
            margin: 0 -33px;

            > .item {
                padding: 0 33px;
                width: 25%;
            }
        }
    }

    &.categories-list {
        background-color: $background-color-main-menu;
        > .list {
            display: flex;
            @extend .theme-grid;

            > .item {
                > .link {
                    color: $color-text-white;
                    display: block;
                    font-weight: 700;
                    text-decoration: none;
                    padding: 10px 20px;

                    &:hover {
                        background-color: $background-color-menu-hover;
                    }
                }
            }
        }
    }
}