// Colors
$color-text: #000000;
$color-text-white: #FFFFFF;
$color-text-gray: #999999;


// Background Colros
$background-color-header: #0060B1;
$background-color-main-menu: #FF6500;
$background-color-menu-hover: #E35214;